<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Information</key>
		<string>Compuware Mobile Center of Excellence

The Compuware Event Host Application you're using now represents the cutting-edge mobility work being executed by Compuware, the technology performance company, and its newly developed Mobile Center of Excellence (MCoE). If you want to develop, implement and manage a high-performance mobility strategy to drive revenue, customer satisfaction and brand awareness, Compuware is ready to be your trusted partner.

Mobile development requires the ability to continually adapt to a rapidly changing technological landscape and constantly evolving customer and business expectations. The MCoE relies on our world-class IT experience and an Adaptive Agile Methodology to develop, implement and deliver sophisticated, flexible, secure mobile solutions, with quality performance across all platforms and devices from back-end integration to the most advanced inter-machine communication.

MCoE technology labs provide a unique environment for secure and personal client collaboration. Starting with a diagnostic approach, we determine the specific needs for each client and project, and assemble a specialized team for the assignment that can integrate and work with client stakeholders. We always encourage hands-on collaboration with clients throughout project development to ensure mobile programs grow and evolve with changing requirements. 

Contact your Compuware Account Manager for more on our mobility offerings today.
</string>
	</dict>
</array>
</plist>
