<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Information</key>
		<string>The Compuware Elite Council (CEC) is focused on delivering insight, management and thought leadership to innovative senior IT and business executives. Our CEC events connect you with leading business and technology professionals to provide you with the opportunity to share knowledge, exchange best practices and gain access to world-class thought leadership.

Like previous CEC Executive Summits, the 2011 event is designed for senior IT and business leaders to gain insights into better positioning their organizations for what's ahead in business and to achieve the greatest benefits from their technology.
</string>
	</dict>
</array>
</plist>
