<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Message</key>
		<string>
Welcome to the Compuware Elite Council Executive Summit 2011. This year's Summit represents one of those rare occasions when technology and business leaders like us can engage in truly candid discussions.

Like you, I'm here as a participant, planning to tap into practical experiences and real-world insights on how we can take advantage of emerging technologies — Cloud Computing, Mobility, Social Networking, Everything as a Service — to drive our organization forward. After all, learning from each other to better meet our business goals is what this weekend is all about.

I'm pleased also to welcome our featured guest, Geoffrey Moore, Chairman Emeritus of TCG Advisors, The Chasm Institute and The Chasm Group, as well as author of, among others, "Crossing the Chasm" and the newly published "Escape Velocity." Moore will join our discussions about facing the challenges of emerging technologies and harnessing their power to establish common goals for key business and IT stakeholders. 

And as far as emerging technologies go, you're reading this letter on the Compuware Event Host, a mobile app created by Compuware's Mobile Center of Excellence (MCoE). The MCoE relies on our world-class IT experience and an Adaptive Agile Methodology to develop, implement and deliver sophisticated, flexible, secure mobile solutions, with quality performance across all platforms and devices. The MCoE is one way Compuware is evolving to overcome the challenges and reap the rewards of new technologies.

I look forward to learning how your organization is turning today's challenges into tomorrow's competitive advantages. So let's start talking. Thanks for being here. 

Sincerely, 



</string>
		<key>Signature</key>
		<string>robert.paul.signature.png</string>
		<key>Title</key>
		<string>Bob Paul
Chief Executive Officer
Compuware Corporation
</string>
	</dict>
</array>
</plist>
